.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  padding: 4rem;
}

.contact-container > h2 {
  color: #333;
  text-align: center;
  margin-bottom: 20px;
  width: 80%;
  margin: 20px auto;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  letter-spacing: 1px;
}

.contact-container > p {
  color: #333;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

@media (max-width: 960px) {
  .contact-container {
    height: 60vh;
    padding: 1rem;
  }

  .contact-container > h2 {
    width: 100%;

    font-size: 18px;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    letter-spacing: 1px;
  }

  .contact-container > p {
    color: #333;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
  }
}
