.a-propos-header,
.contact-header,
.nos-realisations-header,
.nos-prestations-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 100%;
  background: url(../assets/abidjanImg.jpg);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

.a-propos-header > h1,
.contact-header > h1,
.nos-realisations-header > h1,
.nos-prestations-header > h1 {
  font-family: "Roboto", sans-serif;
  font-size: 60px;
  font-weight: 300;
  color: #ffffff;
}

@media (max-width: 960px) {
  .a-propos-header,
  .contact-header,
  .nos-realisations-header,
  .nos-prestations-header {
    height: 200px;
  }

  .a-propos-header > h1,
  .contact-header > h1,
  .nos-realisations-header > h1,
  .nos-prestations-header > h1 {
    font-size: 40px;
  }
}
